:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;

}

.main-page-container {

    *:not(:last-child) {
        margin-bottom: 10px;
    }

    span {
        display: flex;
        align-items: center;

        :first-child {
            margin-right: 5px;
        }

    }

    p {
        font-size: large;
    }

    img {
        width: 30px;
    }

    .home-icon {
        width: 350px;
    }

    .title {
        margin-bottom: 20px;
    }
}